# Sepolia RPC (Alchemy, Infura, QuickNode 등)
SEPOLIA_RPC=https://eth-sepolia.g.alchemy.com/v2/YOUR_ALCHEMY_KEY

# 배포자 개인키 (0x 제외)
DEPLOYER_PK=your_private_key_here

# EAS Sepolia 주소
EAS_ADDRESS=0xC2679fBD37d54388Ce493F1DB75320D236e1815e
SCHEMA_REGISTRY=0x0a7E2Ff54e76B8E6659aedc9103FB21c038050D0
